body {
  font-family: serif;
}

/*headers*/

.title-color h1 {
  background-color: rgb(107, 200, 236);
}

 h1 {
  margin: 0;
  font-size: 28pt;
  padding: 18px 50px;
  color: rgb(0, 0, 0);
  background-color: rgb(168, 207, 224);
  border: 2px solid #000000;



}

h2 {
  margin: 0;
  padding: 18px 50px;
  background-color:#d5edf0;
  border: 2px solid #000000;
  color: black



}

h3{
  margin: 0;
  font-size: 15pt;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: #d5edf0;
  border: 2px solid #000000;
text-align: center;
}

em{

  font-size: 10pt;
  padding: 2px 100px;
  color: rgb(0, 0, 0);
  background-color: #c8e9f0;
  text-align: center;
  border: 2px solid #000000;


}

p{
  margin: 0 auto;
  height: 320px;
  font-size: 10pt;
  padding: 50px 50px;
  color: rgb(0, 0, 0);
  border: 2px solid #000000;
  background-color: #DAF0F7;
  word-spacing:10px

}


/* navigation menu */
nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  border: 2px solid black
}

nav ul li a {
  display: block;
  padding: 16px 50px;
  background-color: rgb(180, 232, 240);
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  padding-bottom: 8px;
  background-color:  rgb(0, 77, 95);
  border-top: 8px solid black;
  color:white;
}

/*image*/

img {
  border: 2px solid #000000;
  padding:10px ;
  height: 200px;
  display: inline;

}


.content-container {
  display: flex;
  justify-content: space-between;

}
.text-content {
  flex: 1;
  padding: 10px;
}
